html,body
{
	margin: 0 auto;
	height:100%;
	width:100%;
	font-family: 'Imprima', sans-serif;
	font-weight:400;
	overflow-x:hidden;
	overflow-y:auto;
}

::selection
{
	background: #00ffd8;
	color:#222;
}
::-moz-selection
{
	background: #00debc;
	color:#222;
}

a{c
color:#DDD;
	font-weight:200;
	letter-spacing:3px;
	text-decoration:none;
}

#acon{
	color:#222;
}

a:hover{
	color:#00debc;
	font-weight:200;
	letter-spacing:3px;
	text-decoration:none;
}

#navi {
	width:50px;
	height:50px;
	left:20px;
	top:20px;
	background-color:#00debc;
	position:fixed;
	z-index:30;
	cursor:pointer;
	overflow:hidden;
}

#navicontent{
	width:50px;
	height:50px;
	position:absolute;
	background-image:url(img/menu.png);
	z-index:40;
}

#navicontent2{
	width:50px;
	height:50px;
	position:absolute;
	background-image:url(img/back.png);
	z-index:40;
}

#downcontent{
	left:0px;
	width:50px;
	height:50px;
	position:absolute;
	background-image:url(img/felesh.png);
	z-index:40;
}

.btn {
	width:140%;
	height:140%;
	top:100%;
	left:100%;
	background-color:#FFF;
	position:absolute;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
}

.btn2 {
	width:530px;
	height:530px;
	top:100%;
	left:80%;
	background-color:#FFF;
	position:absolute;
	transform:rotate(65deg);
	-ms-transform:rotate(65deg);
	-webkit-transform:rotate(65deg);
}
.btn3 {
	width:700px;
	height:700px;
	top:100%;
	left:80%;
	background-color:#00debc;
	position:absolute;
	transform:rotate(65deg);
	-ms-transform:rotate(65deg);
	-webkit-transform:rotate(65deg);
}

#downh {
	background-color:#00debc;
}

#navibar {
	width:50px;
	height:50px;
	left:20px;
	top:20px;
	background-color:#444;
	position:fixed;
	z-index:20;
	overflow:hidden;
}

#navitext {
	position:absolute;
	font-size:14px;
	color:#FFF;
	width:700px;
	height:50px;
	z-index:21;
}

#navitext ul{
	top:50%;
	margin-top:-8px;
	left:72px;
	position:absolute;
	list-style-type:none;
}

#navitext li {
	display:inline;
}

#navitext li a{
	width:100px;
	padding:22px;
	text-transform:uppercase;
}

/*
.mask1
{
    mask: url(img/tri1.svg#mask1);
    -webkit-mask-image: url(img/tri1.svg);
}

.mask2
{
    mask: url(img/tri3.svg#mask2);
    -webkit-mask-image: url(img/tri3.svg);
}

#tri2 {
    position:absolute;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center;
    background-image:url(img/alee.jpg);
    width:1280px;
    height:650px;
    left:50%;
    bottom:-160px;
    margin-left:-638px;
    z-index:15;

}

#tri3 {
    position:absolute;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-position:center;
    background-image:url(img/bg8.jpg);
    width:1280px;
    height:650px;
    left:50%;
    bottom:0px;
    margin-left:-638px;
    z-index:14;

}*/

#logo {
	position:absolute;
	background-image:url(img/bg8.jpg);
	background-repeat:no-repeat;
	width:500px;
	height:650px;
	left:50%;
	top:50%;
	margin-top:-230px;
	margin-left:-250px;
}

.slide {
	min-width:1200px;
	width:100%;
	height:100%;
}

#slide1 {
	min-width:1200px;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-image:url(img/bg8.jpg);
	background-color:#DDD;
	position:fixed;
}

#slide2 {
	top:100%;
	position:absolute;
	z-index:14;
}

#slide3 {
	height:500px;
	position:relative;
	background-color:#20201f ;
	z-index:16;

}

#menu {
	min-width:1200px;
	width:100%;
	height:100%;
	position:fixed;
	z-index:17;
	background-color:#EEE;
	opacity:0;
	display:none;
	overflow:hidden;
}

#footer {
	font-family: 'Jura' , 'sans-serif';
	font-weight:600px;
	position:fixed;
	width:100%;
	height:25px;
	bottom:0px;
	border-bottom:4px solid #222;
	z-index:30;
}

#footer {
	font-family: 'Jura' , 'sans-serif';
	font-weight:600px;
	position:fixed;
	width:100%;
	height:25px;
	bottom:0px;
	border-bottom:4px solid #222;
	z-index:30;
}

#footer li {
	display:inline;
	font-size:12px;
	color:#444;
	padding:20px;
}

#poly1 {
	width:100%;
	height:200px;
	background-image:url(img/tri3.png);
	background-size:110% 100%;
	background-position:center;
	position:absolute;
	bottom:-2px;
	z-index:16;
}

#poly2{
	width:100%;
	height:200px;
	background-image:url(img/tri3.png);
	background-size:110% 100%;
	background-position:center;
	position:absolute;
	top:0px;
	z-index:12;
	transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
}

#slide4 {
	position:relative;
	height:1100px;
	background-image:url(img/arteork.jpg);
	background-position:center;
	z-index:12
}

#slide4cnt{
	position:absolute;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight:400;
	height:500px;
	width:600px;
	left:10%;
	top:40%;

}


#slide5{
	width:100%;
	height:400px;
	position:relative;
	background-color:#00c1a3;
	z-index:12;
}

#slide6{
	width:100%;
	height:650px;
	position:relative;
	background-color:#DDD;
	z-index:12;
	overflow:hidden;
}

#slide6c{
	width:1300px;
	left:50%;
	margin-left:-650px;
	height:100%;
	position:absolute;
	z-index:12;
}

#slide8{
	width:100%;
	height:651px;
	position:relative;
	background-color:#EEE;
	z-index:12;
	overflow:hidden;
}

#slide8c{
	width:1300px;
	left:50%;
	margin-left:-650px;
	height:100%;
	position:absolute;
	z-index:12;
}

#slide7{
	width:100%;
	height:651px;
	position:relative;
	background-color:#DDD;
	z-index:12;
	overflow:hidden;
}

#slide7c{
	width:1300px;
	left:50%;
	margin-left:-650px;
	height:100%;
	position:absolute;
	z-index:12;
}

#slide9{
	width:100%;
	height:100%;
	position:relative;
	background-color:#CCC;
	z-index:12;
}

#slide10{
	width:100%;
	height:400px;
	position:relative;
	background-color:#222;
	z-index:12;
}

#heatxt {
	width:800px;
	font-family: 'Wire one', sans-serif;
	font-size:600px;
	color:#444;
	position:absolute;
	left:50%;
	margin-left:-200px;
	top:-70px;
}

#t1 {
	letter-spacing:10px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight:400;
	text-align:center;
	position:absolute;
	width:800px;
	left:50%;
	margin-left:-400px;
	font-size:38px;
	color:#20201f ;
	top:35%;
	z-index:13;
}
.t5 {
	letter-spacing:15px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight:400;
	text-align:center;
	position:absolute;
	width:800px;
	left:50%;
	margin-left:-400px;
	font-size:40px;
	color:#222 ;
	top:43%;
	z-index:16;
	text-align:left;
}

#t5{
	color:#00debc ;
	text-align:right;
}
#t6 {
	letter-spacing:10px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight:400;
	text-align:center;
	position:absolute;
	width:800px;
	left:50%;
	margin-left:-400px;
	font-size:60px;
	color:#00debc ;
	top:43%;
	z-index:16;
}

.title {

	position:absolute;
	background-color:#292929;
	left:50%;
	top:-80px;
	padding:15px 62px 15px 62px;
	margin-left:-115px;
	font-size:18px;
	color:#00debc;
	letter-spacing:3px;
	text-align:center;
	font-weight:200;
	z-index:15;
}

.textbox {
	top:50%;
	position:absolute;
	width:830px;
	left:50%;
	margin-top:-50px;
	margin-left:-415px;
	color:#CCC;
	font-size:17px;
	line-height:1.5em;
	text-align:center;
	z-index:15;
}

#t2 {
	position:absolute;
	letter-spacing:10px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight:200;
	text-align:center;
	position:absolute;
	width:800px;
	left:50%;
	margin-left:-400px;
	font-size:17px;
	color:#20201f ;
	top:70px;
	z-index:13;
}

#down {
	width:50px;
	height:50px;
	left:50%;
	margin-left:-25px;
	background-color:#FFF;
	position:relative;
	z-index:10;
	cursor:pointer;
	overflow:hidden;
	top:80px;
}


.workbtn {
	width:350px;
	height:50px;
	right:0px;
	background-color:#CCC;
	position:absolute;
	z-index:15;
	cursor:pointer;
	overflow:hidden;
	top:240px;
}

#cvcontent {
	font-size:15px;
	width:228px;
	height:35px;
	left:0px;
	top:6px;
	color:#222;
	position:absolute;
	z-index:16;
	letter-spacing:0px;
}
#workbtncontent {
	text-align:center;
	font-size:20px;
	width:250px;
	height:35px;
	left:50%;
	margin-left:-125px;
	top:14px;
	color:#222;
	position:absolute;
	z-index:16;
	letter-spacing:2px;
}

#cv {
	text-align:center;
	font-size:15px;
	width:228px;
	height:35px;
	left:50%;
	margin-left:-115px;
	top:170px;
	color:#222;
	position:absolute;
	z-index:16;
	background-color:#CCC;
	overflow:hidden;
	cursor:pointer;
}

#cvh {
	background-color:#00debc;
}




#porttxt {
	position:absolute;
	letter-spacing:5px;
	left:100px;
	top:50%;
	margin-top:-50px;
	z-index:30;
	font-size:120px;
	color:#999;
}

.element {
	position:absolute;
	width: 1280px;
	height: 650px;
	left:50%;
	bottom:0px;
	margin-left:-638px;
	overflow: hidden;
	color: #fff;
	background-image: url(img/bg8.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center;
	-webkit-mask-image: url(img/mask.png);
	z-index:14;
}

.element2 {
	position:absolute;
	width: 1280px;
	height: 650px;
	left:50%;
	margin-left:-638px;
	overflow: hidden;
	color: #fff;
	background-image: url(img/alee.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center top;
	-webkit-mask-image: url(img/mask.png);
	z-index:15;
}

.workscreen {
	position:absolute;
	width: 500px;
	height: 400px;
	overflow: hidden;
	background-image: url(img/a.jpg);
	background-repeat:no-repeat;
	-webkit-mask-image: url(img/mask4.png);
}

.workscreen2 {
	position:absolute;
	width: 428px;
	height: 600px;
	overflow: hidden;
	background-image: url(img/a.jpg);
	background-repeat:no-repeat;
	-webkit-mask-image: url(img/mask5.png);
}

#el1 {
	position:absolute;
	width: 1280px;
	height: 650px;
	bottom:0px;
	z-index:14;
}

#el2 {
	position:absolute;
	width: 1280px;
	height: 650px;
	bottom:-160px;
	z-index:15;
}

#numport {
	font-size:200px;
	color:#00debc;
	position:absolute;
	top:75px;
	left:10px;
	font-family: 'Nixie One', cursive;
	font-weight:400;
}

#numport2 {
	font-size:150px;
	color:#222;
	position:absolute;
	top:0px;
	left:0px;
}

.element3 {
	position:absolute;
	width: 433px;
	height: 650px;

	overflow: hidden;
	color: #fff;
	background-image: url(img/a.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:0px 0px;
	-webkit-mask-image: url(img/mask2.png);
	z-index:14;
}

#el3 {
	position:absolute;
	width: 433px;
	height: 650px;
	z-index:15;
	background-repeat:no-repeat;
	left:0px;
	bottom:0px;
}

.element4 {
	position:absolute;
	width: 433px;
	height: 650px;

	overflow: hidden;
	color: #fff;
	background-image: url(img/b.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:218px 0px;
	-webkit-mask-image: url(img/mask3.png);
	z-index:14;
}

#el4 {
	position:absolute;
	width: 433px;
	height: 650px;
	z-index:15;
	left:219px;
	bottom:0px;
}

.element5 {
	position:absolute;
	width: 433px;
	height: 650px;


	overflow: hidden;
	color: #fff;
	background-image: url(img/f.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:436px 50%;
	-webkit-mask-image: url(img/mask2.png);
	z-index:14;
}

#el5 {
	position:absolute;
	width: 433px;
	height: 650px;
	z-index:15;
	left:438px;
	bottom:0px;
}

.element6 {
	position:absolute;
	width: 433px;
	height: 650px;

	overflow: hidden;
	color: #fff;
	background-image: url(img/d.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:654px 50%;
	-webkit-mask-image: url(img/mask3.png);
	z-index:14;
}

#el6 {
	position:absolute;
	width: 433px;
	height: 650px;
	z-index:15;
	left:657px;
	bottom:0px;
}

.element7 {
	position:absolute;
	width: 433px;
	height: 650px;
	overflow:hidden;

	color: #fff;
	background-image: url(img/c.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:872px 50%;
	-webkit-mask-image: url(img/mask2.png);
	z-index:14;
}

#el7 {
	position:absolute;
	width: 433px;
	height: 650px;
	z-index:15;
	left:876px;
	bottom:0px;
}

.element8 {
	top:1px;
	position:absolute;
	width: 433px;
	height: 650px;

	overflow: hidden;
	color: #fff;
	background-image: url(img/h.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:218px 50%;
	-webkit-mask-image: url(img/mask2.png);
	z-index:14;
}

#el8 {
	position:absolute;
	width: 433px;
	height: 650px;
	z-index:15;
	left:219px;
	bottom:0px;
}

.element9 {
	top:1px;
	position:absolute;
	width: 433px;
	height: 650px;
	overflow: hidden;
	color: #fff;
	background-image: url(img/e.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:436px 50%;
	-webkit-mask-image: url(img/mask3.png);
	z-index:14;
}

#el9 {
	position:absolute;
	width: 433px;
	height: 650px;
	z-index:15;
	left:438px;
	bottom:0px;
}

.element10 {
	top:1px;
	position:absolute;
	width: 433px;
	height: 650px;
	overflow: hidden;
	color: #fff;
	background-image: url(img/g.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:654px 50%;
	-webkit-mask-image: url(img/mask2.png);
	z-index:14;
}

#el10 {
	position:absolute;
	width: 433px;
	height: 650px;
	z-index:15;
	left:657px;
	bottom:0px;
}

.element11 {
	position:absolute;
	width: 433px;
	height: 650px;
	overflow: hidden;
	color: #fff;
	background-color:#00debc;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:436px 0px;
	-webkit-mask-image: url(img/mask2.png);
	z-index:14;
	cursor:pointer;
}


#el11 {
	position:absolute;
	width: 433px;
	height: 650px;
	z-index:15;
	left:438px;
	bottom:0px;
}
.awardnum {
	position:absolute;
	font-size:210px;
	color:#FFF;
	left:50%;
	top:10px;
	margin-left:-124px;
	font-family: 'Nixie One', cursive;
	font-weight:400;
}

#awardtxt {
	position:absolute;
	font-size:50px;
	color:#222;
	left:50%;
	margin-left:-91px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight:200;
	top:220px;
	letter-spacing:10px;
}

#texture1{
	position:absolute;
	width:100%;
	height:100%;
	background-image:url(img/texture2.jpg);
	background-size:cover;
	z-index:15;
}

#texture2{
	position:absolute;
	width:100%;
	height:100%;
	background-image:url(img/texture.png);
	background-size:100%;
	z-index:15;
}
.titlecon {
	position:absolute;
	height:30px;
	top:-40px;
	color:#00debc;
	font-size:25px;
	letter-spacing:3px;
}

#licon {
	font-size:17px;
	letter-spacing:0px;
	color:#AAA;
	padding: 5px 0px 5px 0px;
	letter-spacing:1px;
}

#licon :hover {
	color:#FFF;
}

#contactbox {
	position:absolute;
	width:800px;
	height:250px;
	left:50%;
	margin-left:-400px;
	top:50%;
	margin-top:-50px;
}


#fb{
	width:50px;
	height:50px;
	right:0px;
	top:62px;
	background-color:#FFF;
	position:absolute;
	z-index:15;
	cursor:pointer;
	overflow:hidden;
}

#fbh{
	background-color:#00ffd8;
}

#fbcontent{
	width:50px;
	height:50px;
	position:absolute;
	background-image:url(img/fb.png);
	z-index:16;
}

#tw{
	width:50px;
	height:50px;
	right:60px;
	top:62px;
	background-color:#FFF;
	position:absolute;
	z-index:15;
	cursor:pointer;
	overflow:hidden;
}

#twh{
	background-color:#00ffd8;
}

#twcontent{
	width:50px;
	height:50px;
	position:absolute;
	background-image:url(img/twitter.png);
	z-index:16;
}

.trih{
	width:433px;
	height:650px;
	background-color:#00ffd8;
	position:absolute;
	left:0px;
	top:0px;
	opacity:0.8;
	z-index:20;
	display:none;
}

.circ {
	cursor:pointer;
	width:168px;
	height:400px;
	position:absolute;
	left:132px;
	top:0px;
	z-index:16;

}

#circ :hover {
	background-color:#00debc;
}

#c1 {

}

#c2 {
	left:350px;
	top:250px;
}

#c3 {
	left:568px;
}

#c4 {
	left:787px;
	top:250px;
}

#c5 {
	left:1005px;
}

#c6 {
	left:350px;
}

#c7 {
	left:568px;
	top:250px;
}

#c8 {
	left:787px;
}
#p1num {
	font-size:140px;
	width:200px;
	text-align:center;
	font-family: 'Nixie One', cursive;
	color:#222;
	left:50%;
	top:120px;
	margin-left:-100px;
	position:absolute;

}
#p3num {
	font-size:140px;
	width:200px;
	text-align:center;
	font-family: 'Nixie One', cursive;
	color:#222;
	left:50%;
	top:120px;
	margin-left:-100px;
	position:absolute;
}


#p2num {
	font-size:140px;
	width:200px;
	text-align:center;
	font-family: 'Nixie One', cursive;
	color:#FFF;
	left:50%;
	top:120px;
	margin-left:-100px;
	position:absolute;

}

.c5 {
	position:absolute;
	width:28%;
	height:100%;
}



#p1t {
	position:absolute;
	width:200px;
	text-align:center;
	height:30px;
	top:50px;
	left:50%;
	margin-left:-100px;
	color:#00debc;
	font-size:25px;
	letter-spacing:3px;
}

#p2t {
	position:absolute;
	width:200px;
	text-align:center;
	height:30px;
	top:50px;
	left:50%;
	margin-left:-100px;
	color:#FFF;
	font-size:25px;
	letter-spacing:3px;
}

#p2 {
	left:28%;
	background-color:#222;
}

#p3 {
	left:56%;
	background-color:#00debc;
}

#p1 {
	background-color:#FFF;
}

#contain2 {
	width:1280px;
	left:50%;
	height:100%;
	margin-left:-640px;
	position:absolute;
	overflow:hidden;
}

#cup {
	width:120px;
	height:120px;
	left:50%;
	margin-left:-60px;
	position:absolute;
	top:285px;
	background-image:url(img/cup.png);
}

#light {
	width:100%;
	height:100%;
	background-position:49.5% 63%;
	position:absolute;
	background-image:url(img/awardsabout-light.png);
	display:none;
}

#more {
	position:absolute;
	width:16%;
	height:100%;
	right:0px;
	background-color:#00c1a3;
	cursor:pointer;
}

.zare {
	width:150px;
	height:150px;
	background-image:url(img/zare.png);
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-75px;
	margin-top:-75px;
}
#z1 {
	width:150px;
	height:150px;
	background-image:url(img/zare.png);
	position:absolute;
	left:50%;
	top:40%;
	margin-left:-75px;
	margin-top:-75px;
	display:none;
	z-index:30;
}
#z2 {
	width:150px;
	height:150px;
	background-image:url(img/zare.png);
	position:absolute;
	left:50%;
	top:60%;
	margin-left:-75px;
	margin-top:-75px;
	display:none;
	z-index:30;
}
#z3 {
	width:150px;
	height:150px;
	background-image:url(img/zare.png);
	position:absolute;
	left:50%;
	top:40%;
	margin-left:-75px;
	margin-top:-75px;
	display:none;
	z-index:30;
}
#z4 {
	width:150px;
	height:150px;
	background-image:url(img/zare.png);
	position:absolute;
	left:50%;
	top:60%;
	margin-left:-75px;
	margin-top:-75px;
	display:none;
	z-index:30;
}

#z5 {
	width:150px;
	height:150px;
	background-image:url(img/zare.png);
	position:absolute;
	left:50%;
	top:40%;
	margin-left:-75px;
	margin-top:-75px;
	display:none;
	z-index:30;
}
#z6 {
	width:150px;
	height:150px;
	background-image:url(img/zare.png);
	position:absolute;
	left:50%;
	top:40%;
	margin-left:-75px;
	margin-top:-75px;
	display:none;
	z-index:30;
}
#z7 {
	width:150px;
	height:150px;
	background-image:url(img/zare.png);
	position:absolute;
	left:50%;
	top:60%;
	margin-left:-75px;
	margin-top:-75px;
	display:none;
	z-index:30;
}

#z8 {
	width:150px;
	height:150px;
	background-image:url(img/zare.png);
	position:absolute;
	left:50%;
	top:40%;
	margin-left:-75px;
	margin-top:-75px;
	display:none;
	z-index:30;
}


.work {
	cursor: url(img/close.png), auto;
	width:100%;
	height:100%;
	z-index:50;
	position:fixed;
	background-color:rgba(0,0,0,0.90);
	opacity:0;
	display:none;
}

.workcon {
	width:900px;
	height:400px;
	left:50%;
	margin-left:-490px;
	margin-top:-200px;
	top:50%;
	position:absolute;
}

.worknum {
	width:350px;
	text-align:center;
	font-size:150px;
	color:#00debc;
	font-family: 'Nixie One', cursive;
	position:absolute;
	right:0px;
	top:-70px;

}

.worktit {
	border-bottom:1px solid #333;
	border-top:1px solid #333;
	padding-top:10px;
	padding-bottom:10px;
	position:absolute;
	text-align:center;
	width:350px;
	top:200px;
	right:0px;
	color:#FFF;
	font-size:25px;
	letter-spacing:3px;

}

.worktit2 {
	border-bottom:1px solid #333;
	border-top:1px solid #333;
	padding-top:10px;
	padding-bottom:10px;
	position:absolute;
	text-align:center;
	width:350px;
	top:200px;
	right:0px;
	color:#FFF;
	font-size:25px;
	letter-spacing:3px;

}


#wth {
}

#workscr {
	position:absolute;
	width:500px;
	height:400px;
	left:0px;
	top:50%;
	margin-top:-235px;
}

#workscr2 {
	position:absolute;
	width:428px;
	height:600px;
	left:0px;
	top:50%;
	margin-top:-330px;
}

#ws2 {
	background-image:url(img/kohsar.jpg);
}

#ws3 {
	background-image:url(img/tayhoo.jpg);
}

#ws5 {
	background-image:url(img/ronik.jpg);
}

#ws4 {
	background-image:url(img/dadfar.jpg);
}

#ws7 {
	background-image:url(img/delveseh.jpg);
}

#wh8 {
	background-image:url(img/baby.jpg);
}

#ws6 {
	background-image:url(img/badr.jpg);
}

#workfooter{
	text-align:center;
	font-family: 'Jura' , 'sans-serif';
	font-size:16px;
	color:#777;
	position:absolute;
	width:800px;
	height:30px;
	left:50%;
	margin-left:-400px;
	bottom:20px;

}
.line {
	width:25%;
	height:auto;
	position:absolute;
	left:0px;
	border:1px solid #CCC;
	cursor:pointer;
	overflow:hidden;
}

#linear {
	width:100%;
	position:relative;
	height:500px;
}



.containerline {
	width:100%;
	height:20px;
	position:relative;
}

#line1 {
	background-image:url(img/logo/1.png);
	background-size:cover;
}

#line1:hover {
	background-image:url(img/logo/1-h.png);

}
#line2 {
	left:25%;
	background-image:url(img/logo/11.png);
	background-size:cover;
}
#line2:hover {

	background-image:url(img/logo/11-h.png);
}

#line3 {
	left:50%;
	background-image:url(img/logo/12.jpg);
	background-size:cover;
}

#line3:hover{

	background-image:url(img/logo/12-h.jpg);

}

#line4 {
	left:75%;
	background-image:url(img/logo/13.jpg);
	background-size:cover;
}
#line4:hover {

	background-image:url(img/logo/13-h.jpg);

}


#line5 {
	background-image:url(img/logo/14.jpg);
	background-size:cover;
}
#line5:hover {

	background-image:url(img/logo/14-h.jpg);

}

#line6 {
	left:25%;
	background-image:url(img/logo/15.jpg);
	background-size:cover;
}
#line6:hover {

	background-image:url(img/logo/15-h.jpg);

}

#line7 {
	left:50%;
	background-image:url(img/logo/16.jpg);
	background-size:cover;
}
#line7:hover {

	background-image:url(img/logo/16-h.jpg);

}

#line8 {
	left:75%;
	background-image:url(img/logo/17.jpg);
	background-size:cover;
}
#line8:hover {

	background-image:url(img/logo/17-h.jpg);

}

#line9 {
	background-image:url(img/logo/10.png);
	background-size:cover;
}
#line9:hover {

	background-image:url(img/logo/10-h.png);

}
#line10 {
	left:25%;
	background-image:url(img/logo/3.png);
	background-size:cover;
}
#line10:hover {

	background-image:url(img/logo/3-h.png);

}
#line11 {
	left:50%;
	background-image:url(img/logo/2.png);
	background-size:cover;
}
#line11:hover {

	background-image:url(img/logo/2-h.png);

}
#line12 {
	left:75%;
	background-image:url(img/logo/4.png);
	background-size:cover;
}
#line12:hover {

	background-image:url(img/logo/4-h.png);

}
#line13 {
	background-image:url(img/logo/5.png);
	background-size:cover;
}
#line13:hover {

	background-image:url(img/logo/5-h.png);

}
#line14 {
	left:25%;
	background-image:url(img/logo/6.png);
	background-size:cover;
}
#line14:hover {

	background-image:url(img/logo/6-h.png);

}
#line15 {
	left:50%;
	background-image:url(img/logo/7.png);
	background-size:cover;
}
#line15:hover {

	background-image:url(img/logo/7-h.png);

}
#line16 {
	left:75%;
	background-image:url(img/logo/8.png);
	background-size:cover;
}
#line16:hover {

	background-image:url(img/logo/8-h.png);

}
#line17 {
	background-image:url(img/logo/9.png);
	background-size:cover;
}
#line17:hover {

	background-image:url(img/logo/9-h.png);

}

.plus {
	width:400px;
	height:400px;
	position:absolute;
	right:-107%;
	bottom:-107%;
	background-color:#00debc;
	transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
}

.zare1 {
	background-image:url(img/zare.png);
	width:85px;
	height:85px;
	background-size:cover;
	right:0px;
	bottom:0px;
	position:absolute;
	z-index:30;
	display:none;
}

#worktitblue {
	top:225px;
	color:#00debc;
	border-bottom:0px solid #333;
	border-top:0px solid #333;
}

#logo1 {
	background-image:url(img/logo/9.jpg);
}

#ws1 {
	background-image:url(img/dilshah.jpg);
}

#awarded {
	position:absolute;
	width:180px;
	height:50px;
	bottom:70px;
	left:50%;
	margin-left:-90px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

#cupp {
	position:absolute;
	width:50px;
	height:50px;
	left:0px;
	bottom:0px;
	background-image:url(img/cup.png);
	background-size:100% 100%;
}

#awardedtxt {
	position:absolute;
	right:0px;
	letter-spacing:5px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight:200;
	font-size:23px;
	width:120px;
	height:26px;
	top:50%;
	margin-top:-13px;
	color:#00dabc;
	text-align:center;
}

#cssw {
	position:absolute;
	right:0px;
	background-image:url(img/cssw.png);
	width:81px;
	height:59px;
	top:50%;
	margin-top:-120px;
}

#cssw2 {
	position:absolute;
	right:0px;
	background-image:url(img/cssw.png);
	width:81px;
	height:59px;
	top:50%;
	margin-top:-120px;
}

#awwward {
	position:absolute;
	right:0px;
	background-image:url(img/awwward.png);
	width:70px;
	height:105px;
	top:50%;
	margin-top:-40px;
}

#awwward2 {
	position:absolute;
	right:0px;
	background-image:url(img/awwward.png);
	width:70px;
	height:105px;
	top:50%;
	margin-top:-40px;
}

#cssda {
	position:absolute;
	right:0px;
	background-image:url(img/cssda.png);
	width:68px;
	height:96px;
	top:50%;
	margin-top:-92px;
}

#li1 {
	cursor:pointer;
}
#li2 {
	cursor:pointer;
}
#li3 {
	cursor:pointer;
}
#li4 {
	cursor:pointer;
}

.menutit {
	text-align:center;
	color:#DDD;
	left:50%;
	margin-left:-800px;
	width:1600px;
	height:400px;
	position:absolute;
	font-size:500px;
	top:50%;
	margin-top:-300px;
	z-index:40;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight:200;
	display:none;
}

#logo9 {
	background-image:url(img/logo/1.jpg);
}

#logo10 {
	background-image:url(img/logo/7.jpg);
}

#logo11 {
	background-image:url(img/logo/8.jpg);
}

#logo12 {
	background-image:url(img/logo/6.jpg);
}

#logo13 {
	background-image:url(img/logo/5.jpg);
}

#logo14 {
	background-image:url(img/logo/4.jpg);
}

#logo15 {
	background-image:url(img/logo/3.jpg);
}

#logo16 {
	background-image:url(img/logo/2.jpg);
}

#workscr2t {
	left:50%;
	margin-left:-400px;
	width:800px;
	height:100%;
	position:absolute;
}

#logo2 {
	background-image:url(img/logo/p-r5.jpg);
}

#logo3 {
	background-image:url(img/logo/p-r4.jpg);
}

#logo4 {
	background-image:url(img/logo/p-r2.jpg);
}

#logo5 {
	background-image:url(img/logo/p-r3.jpg);
}

#logo6 {
	background-image:url(img/logo/p-r1.jpg);
}

#logo7 {
	background-image:url(img/logo/p-dad.jpg);
}

#logo8 {
	background-image:url(img/logo/p-del.jpg);
}

#saharnum {
	letter-spacing:-10px;
}

#loader {
	width:75px;
	height:75px;
	left:250px;
	top:130px;
	background-image:url(img/loader.png);
	position:absolute;

	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1s;

	-moz-transition-property: -moz-transform;
	-moz-transition-duration: 1s;

	-webkit-animation-name: rotate;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;

	-moz-animation-name: rotate;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
}

@-webkit-keyframes rotate {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(360deg);}
}

#mt5 {
	display:block;
}

#scene {
	display: block;
	height: 750px;
	margin: 20px auto 0;
	position: relative;
	width: 1050px;
}

canvas {
	position:fixed;
	overflow:hidden;
}

.cssdesignawards {
	position:absolute;
	top:50%;
	margin-top:-48px;
	right:0px;
	z-index:14;
}
.cssdesignawards a{
	width:80px;
	height:96px;
	text-indent:-9000px;
	display:block;
	background:url(img/cssda.png) no-repeat;
	background-size: 100%;
}